{# 继承父模板 #}
{% extends 'base.html' %}

{# 主页头部 #}
{% block header %}

<title>关于 - 飞鸽传书</title>

{% endblock header %}

{% block body %}
<div id="TAB-3" class="mdui-p-a-2" style="margin-top: 0.5cm">
<h2 class="moe-h2">关于 飞鸽传书</h2>
<span class="moe-list">
<h3>Q：什么是飞鸽传书？</h3>
<p>
    A：飞鸽传书一词源于“鸿雁传书”，鸿雁是大型候鸟，每年秋季南迁，常常引起游子思乡怀亲之情和羁旅伤感。典故出自《史记》，据《史记》记载，汉武帝时，使臣苏武被匈奴拘留，并押在北海苦寒地带多年。后来，汉朝派使者要求匈奴释放苏武，匈奴单于谎称苏武已死。这时有人暗地告诉汉使事情的真相，并给他出主意让他对匈奴说：汉皇在上林苑射下一只大雁，这只雁足上系着苏武的帛书，证明他确实未死，只是受困。这样，匈奴单于再也无法谎称苏武已死，只得把他放回汉朝。从此，"鸿雁传书"的故事便流传成为千古佳话。而鸿雁，也就成了信差的美称。
</p>
<h3>Q：为什么这个项目要叫飞鸽传书？</h3>
<p>
    A：因为 <span class="heimu" title="你知道的太多了">我们都是鸽子精<del>（咕咕咕？）</del></span> 吖~
</p>
<h3>Q：为什么代码如此之垃圾和凌乱不堪？</h3>
<p>
    A：<span class="heimu" title="你知道的太多了"><del>因为只要能用就行。</del></span> 代码太乱了，时间匆忙请见谅，其实主要还是时间太少，我们能力有限，理想中的它可以注册账户、注册邮箱验证、记录用户注册时、最后登录的IP（用于风险控制以及异常登录提醒）和写留言时的IP（根据某些IP库来查询用户所在地，利用这个来显示于留言卡片左下角例如”来自 云南 - 昆明 的一位鸽子“之类的提示），留言卡片本来还有可折叠的评论区以及留言配图上传、留言表情包、恶意留言/广告/垃圾评论/非法言论过滤、留言举报、用户个人主页、图片鉴黄、用户权限组、后台管理（包括留言管理、评论管理、功能开关管理、是否开放注册、页脚管理、站点配置信息管理、用户管理等等）、Pjax + Ajax 异步局部刷新网页无刷新体验，只是奈何自己还不够强，暂时没办法写得那么完美，由于时间关系,自己写好的邮件模块也用不上了,哭死。aJax post 问题解决不了,我前端的数据验证和异步请求都没办法完成（ 用户模块没办法完成,邮件提醒也没啥用,也只能暂时搁置,以后好好学一学 JavaScript、SQL、html、CSS、Flask、Jinja2才能完善了），以及没弄懂 flask的用户登录判断(基于Cookie和Session),再加上实训课时间不够了,没办法只能砍了，勉强实现了Pjax（用我粗浅的前端知识，还加了个APlayer播放器，但是由于没有系统学过CSS导致原本计划加上的歌词动态显示也没了（不会写样式，顺带一提歌词我都已经写好在music.js里了。
    总之就在这先挖个坑吧，以后完善它吧。或许以后会用PHP重构？<span class="heimu" title="你知道的太多了">（咕咕咕</span>
</p>

</span>
</div>
{% endblock body %}

{# 页面底部 #}

{% block footer %}

{% endblock footer %}