<!--
OOO@@@@OOO@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
O@@@@@@OOO@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@O[[[[...[[[O@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@O@@@@@@@@@@@@@@@@@O/`                ,\OO@O@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@O@@@@@@@@@@@@@@@O`                      \@O@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@O`                         ,O@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@O@@@@@@@@@@@@/.    ....                   .OOO@@@@O@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@^......*]......                =O@@OOO@@@@@OO@@@@@@@@@@@@@
@@@@@@@@@O@@@@@@@@@@O^......,oOOO\........          .=OOOOOOOO@@OO@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@^.......*oO@@OO`.............  ...OOOOOOOOOO@@@@@@@@@@@@@@OO
@@@@@@@@@@@@@@@@@OO^........,oO@@@OO^******..........=OOOOOO@@@@@@@@@@@@@@@OOOOO
O@@@@@@@@@@@@@@@@OO...       .,OOOO[[[*******/***..*,OOOO@@@@@@@@@@@@@@@OOOOOOOO
O@@@@@@@@@@@@@@OOO...   .      ........*\\]oO/.......=OOOOOO@@@@@@@@@OOOOOOOOOOO
@@@@@@@@@@@@@@@@O^......................[[oo`.*..     =OOOOO@@@@@@@@OOOOOOOOOOOO
@@@@@@@@@@@@@@@@O`..........................,oooo\`...=OOO@@@@@@@@OOOOOOOOOOOOOO
@@@@@@@@@@@@@@@@O..............................\OOOO`..\O@@@@@@@@OOOOOOOOOOOOOOO
@@@@@@@@@@@@@@@O`....................***]oooooo]oOOo`.. ,@@@@@@@@OOOOOOOOOOOOOOO
@@O@@@@OO@@@@@O^.....................*,oooooOOoooOOo\`...=@@@@@OOOOOOOOOOOOOOOO@
@@@@@@@@@@@@@O^....   .................***\ooOOOOo^...,*.=@@@@OOOOOOOOOOOOOOOOOO
@@@@@@@@@@@@@O...               .........***ooooo^*....\O/@@@@OOOOOOOOOOOOOOOOOO
@@@@@@@@@@@@@O.......          .  ..........***[*.... ..=@@@@@OOOOOOOOOOOOOOOOOO
@@@@@@@@@@@O^......   ..           ...................   .O@@@OOOOOOOOOOOOOOOOOO
@@@@@O@@@@OO*.....                       ...........      .\@@@OOOOOOOOOOOOOOOOO
@@@@@@@@@@@O`....  ..                      ........         ,@@@OOOOOOOOOOOOOOOO
@@OO@@@@@@@O.......   ....                  .... ..  .       .\@OOOOOOOOOOOOOOOO
@@@@@@@@@@@^......  .....                      .. ....         .\OOOOOOOOOOOOOOO
@@@@@@@@@@O^.......  . .  .                .    ..              .O@@@@@@OOOOOOOO
@@@@@@@@@O^..........    .   .        .......     .               =@@@@@@@@@@@OO
@@@@@@@@@@O............ ..             ..          ...              \@@@@@@@@@@@
@@@@@@@@@@^..............             .....    ...                    [OOO@@@@@@
@@@@@@@@@/.................................     .                       .\@@@@@@
@@@@@@@@@^*................... .  .......    ..                            ,\O@@
@@@@@@@@O*................  ...................    ..                         ,[
@@@@@@@@^................   ..................    ..                            
@@@@@@@O^.................  ................... ...                             
@@@@@@@O..................................     ..... ..                         
@@@@@@O`...................................   .......                           
@@@@@@^..............................................                           
@@@@@O....................**........................                            

鸽子王之相
-->
<!--
	本项目使用了 MDUI 样式库
	因为前端实在不会写就去嫖了 OMG 大佬的 API 站前端模板
	感谢 OMG 大佬的指导（也是老鸽子了×
	OMG'Blog： https://ohmyga.cn
	PS：因为OMG身边没电脑所以关于ajax那部分就去问了猫猫
	猫站：https://bugcat.cn/

	部分样式来自互联网
	今日诗词：https://www.jinrishici.com/
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/static/img/paper_cranes.svg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/css/moe.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/css/roboto.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/css/highlight.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/css/nprogress.css">
		<link rel="stylesheet" href="https://at.alicdn.com/t/font_1663474_kzedlt5dt8k.css">
		<!-- MDUI CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous"/>
		<!-- MDUI JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A" crossorigin="anonymous" ></script>
		<!-- PJAX -->
		<script src="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/js/pjax.min.js"></script>
		<!-- APlayer CSS -->
		<link rel="stylesheet" href="/static/css/APlayer.min.css">
		<link rel="stylesheet" href="/static/css/music.css">
		<!-- APlayer JS -->
		<script src="/static/js/APlayer.min.js"></script>
		<!-- 字体设置 -->
		<style>
			body{
				font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', ‘ Source Han Serif ’ , source-han-serif-sc, serif;
			}
		</style>
		
    {% block header %}

    {% endblock header %}

	</head>
	<body>
		<div id="moe-bg" class="moe-bg" style="background-image: url('https://cdn.jsdelivr.net/gh/OrientalFantasy/file/pigeon_msg/img/Owl.jpg');"></div>
		<div id="moe-apps">
			<div id="moe-body">
				<div class="moe-title"><font style="font-size: 45px; font-weight: bold;">飞鸽传书</font><br><font style="font-size: 15px; font-weight: bold;">一群鸽子的留言服务ˋ( ° ▽、° )</font></div>
          	<div class="moe-an" onclick="setp();"><img src="/static/img/shota.png"></div>
			  <!-- 导航栏 -->
			<div class="mdui-tab mdui-tab-centered" mdui-tab style="margin-top: 1.5cm" >
			<a href="new_twitter" class="mdui-ripple" style="font-size: 125%; font-weight: bold;"><i class="mdui-icon material-icons" style="font-size: 125%;">assignment_ind</i> 书写留言</a>
			<a href="twitter" class="mdui-ripple" style="font-size: 125%; font-weight: bold;"><i class="mdui-icon material-icons" style="font-size: 125%;">border_color</i> 查看留言</a>
			<a href="about" class="mdui-ripple" style="font-size: 125%; font-weight: bold;"><i class="mdui-icon material-icons" style="font-size: 125%;">brightness_5</i> 关于我们</a>
			</div>
			<!-- <div id="TAB-1" class="mdui-p-a-2">web content</div>
			<div id="TAB-2" class="mdui-p-a-2">shopping content</div>
			<div id="TAB-3" class="mdui-p-a-2">images content</div> -->


          	{% block body %}

          	{% endblock body %}
			
				<!-- 每日诗词 -->
			  <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
			  <script type="text/javascript">
				  jinrishici.load(function(result) {
				  var sentence = document.querySelector("#poem")
				  var info = document.querySelector("#info")
				  sentence.innerHTML = result.data.content
				  info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
				  });
			  </script>

				<!-- 页面设置面板 -->
          	<div id="moe-setting" style="display:block">
					  <span class="moe-setting-title">设置面板</span>
					  <span class="moe-setting-list">
    				<div>夜间模式<span class="moe-setting-btn">
              <input type="checkbox" name="nad" id="1" class="moe-obut" onclick="setbutton('nad');" />
              <label for="1" id="nad" class="moe-obut-label"></label>
            </span>
          </div>
 				</span>
			</div>
		</div>
		</div>
		<footer id="moe-foot">
			<div class="moe-foot-copy">
				Copyright © 2021 <a href="#">飞鸽传书</a> | All rights reserved.<br/>
        Web & CSS Disign by <a href="https://api.ohmyga.cn/" target="_blank">Ohmyga</a> & <a href="https://www.mdui.org/" target="_blank">MDUI</a> | Powered by <a href="https://blog.badapple.pro/" target="_blank">东方幻梦</a>
			</div>

      {% block footer %}

      {% endblock footer %}

		</footer>
		<script src="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/js/highlight.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/js/nprogress.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/OrientalFantasy/file/api/assets/js/moe.js"></script>
		<div id="aplayer" data-fixed="true" data-theme="orange" class="aplayer"></div>

		<script src="/static/js/music.js"></script>
	</body>
</html>